--
-- PostgreSQL database dump
--

\restrict TvlNWSNvEjtF3ThPAr5wxmPEok4r2jQHmcekbEh86EMNBa7YYmoSrI7b0qQD29g

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: btree_gin; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gin WITH SCHEMA public;


--
-- Name: EXTENSION btree_gin; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION btree_gin IS 'support for indexing common datatypes in GIN';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: calculate_event_checksum(); Type: FUNCTION; Schema: public; Owner: airp_admin
--

CREATE FUNCTION public.calculate_event_checksum() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.checksum = encode(digest(
        NEW.aggregate_id::text ||
        NEW.event_type ||
        NEW.event_data::text ||
        NEW.timestamp::text,
        'sha256'
    ), 'hex');
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.calculate_event_checksum() OWNER TO airp_admin;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: airp_admin
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO airp_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_training_feedback; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.ai_training_feedback (
    feedback_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    model_name character varying(100) NOT NULL,
    model_version character varying(50) NOT NULL,
    input_data jsonb NOT NULL,
    predicted_output jsonb NOT NULL,
    actual_output jsonb,
    is_correct boolean,
    confidence_score numeric(5,4),
    user_id uuid,
    feedback_date timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.ai_training_feedback OWNER TO airp_admin;

--
-- Name: TABLE ai_training_feedback; Type: COMMENT; Schema: public; Owner: airp_admin
--

COMMENT ON TABLE public.ai_training_feedback IS 'User feedback for AI model training and improvement';


--
-- Name: anomaly_detections; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.anomaly_detections (
    anomaly_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    entity_type character varying(100) NOT NULL,
    entity_id uuid NOT NULL,
    anomaly_type character varying(100) NOT NULL,
    anomaly_score numeric(5,4) NOT NULL,
    description text,
    status character varying(20) DEFAULT 'open'::character varying,
    detected_at timestamp with time zone DEFAULT now(),
    resolved_at timestamp with time zone,
    resolved_by uuid,
    metadata jsonb
);


ALTER TABLE public.anomaly_detections OWNER TO airp_admin;

--
-- Name: ap_aging; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.ap_aging (
    aging_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    vendor_id uuid NOT NULL,
    invoice_id uuid NOT NULL,
    currency character(3) NOT NULL,
    total_outstanding numeric(20,4) NOT NULL,
    current_amount numeric(20,4) DEFAULT 0,
    bucket_30 numeric(20,4) DEFAULT 0,
    bucket_60 numeric(20,4) DEFAULT 0,
    bucket_90 numeric(20,4) DEFAULT 0,
    bucket_120_plus numeric(20,4) DEFAULT 0,
    as_of_date date NOT NULL,
    last_updated timestamp with time zone DEFAULT now()
);


ALTER TABLE public.ap_aging OWNER TO airp_admin;

--
-- Name: ap_invoice_lines; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.ap_invoice_lines (
    line_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    invoice_id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    line_number integer NOT NULL,
    description text NOT NULL,
    quantity numeric(12,4) DEFAULT 1,
    unit_price numeric(20,4) NOT NULL,
    line_amount numeric(20,4) NOT NULL,
    tax_rate numeric(5,4) DEFAULT 0.05,
    tax_amount numeric(20,4) DEFAULT 0,
    gl_account_id uuid,
    ai_suggested_account_id uuid,
    ai_confidence_score numeric(5,4),
    dimension_1 character varying(50),
    dimension_2 character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.ap_invoice_lines OWNER TO airp_admin;

--
-- Name: ap_invoices; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.ap_invoices (
    invoice_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    vendor_id uuid NOT NULL,
    invoice_number character varying(100) NOT NULL,
    invoice_date date NOT NULL,
    due_date date NOT NULL,
    currency character(3) DEFAULT 'AED'::bpchar NOT NULL,
    subtotal numeric(20,4) NOT NULL,
    tax_amount numeric(20,4) DEFAULT 0,
    total_amount numeric(20,4) NOT NULL,
    amount_paid numeric(20,4) DEFAULT 0,
    amount_outstanding numeric(20,4) NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying,
    approval_status character varying(20) DEFAULT 'pending'::character varying,
    payment_status character varying(20) DEFAULT 'unpaid'::character varying,
    ai_extracted_data jsonb,
    ai_confidence_score numeric(5,4),
    approved_by uuid,
    approved_at timestamp with time zone,
    paid_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.ap_invoices OWNER TO airp_admin;

--
-- Name: TABLE ap_invoices; Type: COMMENT; Schema: public; Owner: airp_admin
--

COMMENT ON TABLE public.ap_invoices IS 'Accounts Payable invoices';


--
-- Name: approval_steps; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.approval_steps (
    step_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    workflow_id uuid NOT NULL,
    step_number integer NOT NULL,
    approver_id uuid NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying,
    decision_date timestamp with time zone,
    comments text,
    metadata jsonb
);


ALTER TABLE public.approval_steps OWNER TO airp_admin;

--
-- Name: approval_workflows; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.approval_workflows (
    workflow_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    entity_type character varying(100) NOT NULL,
    entity_id uuid NOT NULL,
    current_step integer DEFAULT 1,
    total_steps integer NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying,
    initiated_by uuid,
    initiated_at timestamp with time zone DEFAULT now(),
    completed_at timestamp with time zone,
    metadata jsonb
);


ALTER TABLE public.approval_workflows OWNER TO airp_admin;

--
-- Name: ar_aging; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.ar_aging (
    aging_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    customer_id uuid NOT NULL,
    invoice_id uuid NOT NULL,
    currency character(3) NOT NULL,
    total_outstanding numeric(20,4) NOT NULL,
    current_amount numeric(20,4) DEFAULT 0,
    bucket_30 numeric(20,4) DEFAULT 0,
    bucket_60 numeric(20,4) DEFAULT 0,
    bucket_90 numeric(20,4) DEFAULT 0,
    bucket_120_plus numeric(20,4) DEFAULT 0,
    as_of_date date NOT NULL,
    last_updated timestamp with time zone DEFAULT now()
);


ALTER TABLE public.ar_aging OWNER TO airp_admin;

--
-- Name: ar_invoice_lines; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.ar_invoice_lines (
    line_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    invoice_id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    line_number integer NOT NULL,
    description text NOT NULL,
    quantity numeric(12,4) DEFAULT 1,
    unit_price numeric(20,4) NOT NULL,
    line_amount numeric(20,4) NOT NULL,
    tax_rate numeric(5,4) DEFAULT 0.05,
    tax_amount numeric(20,4) DEFAULT 0,
    gl_account_id uuid,
    dimension_1 character varying(50),
    dimension_2 character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.ar_invoice_lines OWNER TO airp_admin;

--
-- Name: ar_invoices; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.ar_invoices (
    invoice_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    customer_id uuid NOT NULL,
    invoice_number character varying(100) NOT NULL,
    invoice_date date NOT NULL,
    due_date date NOT NULL,
    currency character(3) DEFAULT 'AED'::bpchar NOT NULL,
    subtotal numeric(20,4) NOT NULL,
    tax_amount numeric(20,4) DEFAULT 0,
    total_amount numeric(20,4) NOT NULL,
    amount_paid numeric(20,4) DEFAULT 0,
    amount_outstanding numeric(20,4) NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying,
    payment_status character varying(20) DEFAULT 'unpaid'::character varying,
    sent_at timestamp with time zone,
    paid_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.ar_invoices OWNER TO airp_admin;

--
-- Name: TABLE ar_invoices; Type: COMMENT; Schema: public; Owner: airp_admin
--

COMMENT ON TABLE public.ar_invoices IS 'Accounts Receivable invoices';


--
-- Name: chart_of_accounts; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.chart_of_accounts (
    account_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    account_code character varying(50) NOT NULL,
    account_name character varying(255) NOT NULL,
    account_type character varying(50) NOT NULL,
    account_subtype character varying(50),
    parent_account_id uuid,
    normal_balance character varying(10) NOT NULL,
    is_control_account boolean DEFAULT false,
    is_leaf boolean DEFAULT true,
    currency character(3) DEFAULT 'AED'::bpchar NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying,
    ifrs_category character varying(100),
    gaap_category character varying(100),
    tax_category character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.chart_of_accounts OWNER TO airp_admin;

--
-- Name: journal_entries; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.journal_entries (
    entry_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    entry_number character varying(50) NOT NULL,
    entry_date date NOT NULL,
    posting_date date NOT NULL,
    entry_type character varying(50) NOT NULL,
    source_type character varying(50),
    source_ref_id uuid,
    description text,
    total_debit numeric(20,4) NOT NULL,
    total_credit numeric(20,4) NOT NULL,
    currency character(3) DEFAULT 'AED'::bpchar NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying,
    approved_by uuid,
    approved_at timestamp with time zone,
    posted_by uuid,
    posted_at timestamp with time zone,
    reversed_by uuid,
    reversed_at timestamp with time zone,
    reversal_entry_id uuid,
    ai_confidence_score numeric(5,4),
    ai_model_version character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.journal_entries OWNER TO airp_admin;

--
-- Name: TABLE journal_entries; Type: COMMENT; Schema: public; Owner: airp_admin
--

COMMENT ON TABLE public.journal_entries IS 'Projection of journal entries from event store';


--
-- Name: journal_entry_lines; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.journal_entry_lines (
    line_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    entry_id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    line_number integer NOT NULL,
    account_id uuid NOT NULL,
    debit_amount numeric(20,4) DEFAULT 0,
    credit_amount numeric(20,4) DEFAULT 0,
    currency character(3) DEFAULT 'AED'::bpchar NOT NULL,
    exchange_rate numeric(12,6) DEFAULT 1.0,
    description text,
    dimension_1 character varying(50),
    dimension_2 character varying(50),
    dimension_3 character varying(50),
    dimension_4 character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.journal_entry_lines OWNER TO airp_admin;

--
-- Name: balance_sheet; Type: VIEW; Schema: public; Owner: airp_admin
--

CREATE VIEW public.balance_sheet AS
 SELECT je.tenant_id,
    EXTRACT(year FROM je.entry_date) AS fiscal_year,
    coa.account_type,
    coa.account_code,
    coa.account_name,
    sum((jel.debit_amount - jel.credit_amount)) AS balance
   FROM ((public.journal_entries je
     JOIN public.journal_entry_lines jel ON ((je.entry_id = jel.entry_id)))
     JOIN public.chart_of_accounts coa ON ((jel.account_id = coa.account_id)))
  WHERE (((je.status)::text = 'posted'::text) AND ((coa.account_type)::text = ANY ((ARRAY['Asset'::character varying, 'Liability'::character varying, 'Equity'::character varying])::text[])))
  GROUP BY je.tenant_id, (EXTRACT(year FROM je.entry_date)), coa.account_type, coa.account_code, coa.account_name;


ALTER TABLE public.balance_sheet OWNER TO airp_admin;

--
-- Name: bank_accounts; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.bank_accounts (
    bank_account_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    account_code character varying(50) NOT NULL,
    account_name character varying(255) NOT NULL,
    bank_name character varying(255) NOT NULL,
    account_number character varying(50) NOT NULL,
    iban character varying(50),
    swift_code character varying(20),
    currency character(3) DEFAULT 'AED'::bpchar NOT NULL,
    account_type character varying(50) DEFAULT 'checking'::character varying,
    gl_account_id uuid,
    current_balance numeric(20,4) DEFAULT 0,
    available_balance numeric(20,4) DEFAULT 0,
    status character varying(20) DEFAULT 'active'::character varying,
    last_reconciled_date date,
    last_reconciled_balance numeric(20,4),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.bank_accounts OWNER TO airp_admin;

--
-- Name: bank_transactions; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.bank_transactions (
    transaction_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    bank_account_id uuid NOT NULL,
    transaction_date date NOT NULL,
    value_date date NOT NULL,
    description text,
    reference character varying(100),
    debit_amount numeric(20,4) DEFAULT 0,
    credit_amount numeric(20,4) DEFAULT 0,
    balance numeric(20,4),
    currency character(3) NOT NULL,
    reconciliation_status character varying(20) DEFAULT 'unreconciled'::character varying,
    matched_journal_entry_id uuid,
    ai_match_confidence numeric(5,4),
    ai_suggested_matches jsonb,
    reconciled_by uuid,
    reconciled_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.bank_transactions OWNER TO airp_admin;

--
-- Name: TABLE bank_transactions; Type: COMMENT; Schema: public; Owner: airp_admin
--

COMMENT ON TABLE public.bank_transactions IS 'Bank statement transactions for reconciliation';


--
-- Name: budget_lines; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.budget_lines (
    budget_line_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    budget_id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    account_id uuid NOT NULL,
    fiscal_period integer NOT NULL,
    budgeted_amount numeric(20,4) NOT NULL,
    dimension_1 character varying(50),
    dimension_2 character varying(50),
    dimension_3 character varying(50),
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.budget_lines OWNER TO airp_admin;

--
-- Name: budgets; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.budgets (
    budget_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    budget_name character varying(255) NOT NULL,
    budget_type character varying(50) NOT NULL,
    fiscal_year integer NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    currency character(3) DEFAULT 'AED'::bpchar NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying,
    version integer DEFAULT 1,
    approved_by uuid,
    approved_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.budgets OWNER TO airp_admin;

--
-- Name: cash_flow_forecast; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.cash_flow_forecast (
    forecast_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    forecast_date date NOT NULL,
    forecast_type character varying(50) NOT NULL,
    currency character(3) DEFAULT 'AED'::bpchar NOT NULL,
    opening_balance numeric(20,4) NOT NULL,
    forecasted_inflows numeric(20,4) DEFAULT 0,
    forecasted_outflows numeric(20,4) DEFAULT 0,
    forecasted_closing_balance numeric(20,4) NOT NULL,
    actual_closing_balance numeric(20,4),
    variance numeric(20,4),
    confidence_interval_low numeric(20,4),
    confidence_interval_high numeric(20,4),
    ml_model_version character varying(50),
    generated_at timestamp with time zone DEFAULT now(),
    as_of_date date NOT NULL,
    metadata jsonb
);


ALTER TABLE public.cash_flow_forecast OWNER TO airp_admin;

--
-- Name: TABLE cash_flow_forecast; Type: COMMENT; Schema: public; Owner: airp_admin
--

COMMENT ON TABLE public.cash_flow_forecast IS 'AI-generated cash flow forecasts';


--
-- Name: cash_position; Type: VIEW; Schema: public; Owner: airp_admin
--

CREATE VIEW public.cash_position AS
 SELECT ba.tenant_id,
    ba.bank_account_id,
    ba.account_name,
    ba.currency,
    ba.current_balance,
    ba.available_balance,
    sum(
        CASE
            WHEN ((bt.transaction_date >= CURRENT_DATE) AND (bt.credit_amount > (0)::numeric)) THEN bt.credit_amount
            ELSE (0)::numeric
        END) AS todays_inflows,
    sum(
        CASE
            WHEN ((bt.transaction_date >= CURRENT_DATE) AND (bt.debit_amount > (0)::numeric)) THEN bt.debit_amount
            ELSE (0)::numeric
        END) AS todays_outflows
   FROM (public.bank_accounts ba
     LEFT JOIN public.bank_transactions bt ON ((ba.bank_account_id = bt.bank_account_id)))
  WHERE ((ba.status)::text = 'active'::text)
  GROUP BY ba.tenant_id, ba.bank_account_id, ba.account_name, ba.currency, ba.current_balance, ba.available_balance;


ALTER TABLE public.cash_position OWNER TO airp_admin;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.customers (
    customer_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    customer_code character varying(50) NOT NULL,
    customer_name character varying(255) NOT NULL,
    tax_id character varying(50),
    contact_email character varying(255),
    contact_phone character varying(50),
    payment_terms integer DEFAULT 30,
    credit_limit numeric(20,4),
    default_currency character(3) DEFAULT 'AED'::bpchar,
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.customers OWNER TO airp_admin;

--
-- Name: event_store; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.event_store (
    event_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    aggregate_id uuid NOT NULL,
    aggregate_type character varying(50) NOT NULL,
    event_type character varying(100) NOT NULL,
    event_version integer DEFAULT 1 NOT NULL,
    event_data jsonb NOT NULL,
    event_metadata jsonb,
    causation_id uuid,
    correlation_id uuid,
    user_id uuid,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    sequence_number integer NOT NULL,
    checksum character varying(64)
)
PARTITION BY RANGE ("timestamp");


ALTER TABLE public.event_store OWNER TO airp_admin;

--
-- Name: event_store_sequence_number_seq; Type: SEQUENCE; Schema: public; Owner: airp_admin
--

CREATE SEQUENCE public.event_store_sequence_number_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.event_store_sequence_number_seq OWNER TO airp_admin;

--
-- Name: event_store_sequence_number_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: airp_admin
--

ALTER SEQUENCE public.event_store_sequence_number_seq OWNED BY public.event_store.sequence_number;


--
-- Name: event_store_default; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.event_store_default (
    event_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    aggregate_id uuid NOT NULL,
    aggregate_type character varying(50) NOT NULL,
    event_type character varying(100) NOT NULL,
    event_version integer DEFAULT 1 NOT NULL,
    event_data jsonb NOT NULL,
    event_metadata jsonb,
    causation_id uuid,
    correlation_id uuid,
    user_id uuid,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    sequence_number integer DEFAULT nextval('public.event_store_sequence_number_seq'::regclass) NOT NULL,
    checksum character varying(64)
);


ALTER TABLE public.event_store_default OWNER TO airp_admin;

--
-- Name: gl_balances; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.gl_balances (
    balance_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    account_id uuid NOT NULL,
    fiscal_year integer NOT NULL,
    fiscal_period integer NOT NULL,
    currency character(3) NOT NULL,
    debit_amount numeric(20,4) DEFAULT 0,
    credit_amount numeric(20,4) DEFAULT 0,
    balance numeric(20,4) DEFAULT 0,
    last_updated timestamp with time zone DEFAULT now(),
    last_event_id uuid
);


ALTER TABLE public.gl_balances OWNER TO airp_admin;

--
-- Name: TABLE gl_balances; Type: COMMENT; Schema: public; Owner: airp_admin
--

COMMENT ON TABLE public.gl_balances IS 'Real-time account balances projection';


--
-- Name: income_statement; Type: VIEW; Schema: public; Owner: airp_admin
--

CREATE VIEW public.income_statement AS
 SELECT je.tenant_id,
    EXTRACT(year FROM je.entry_date) AS fiscal_year,
    EXTRACT(month FROM je.entry_date) AS fiscal_period,
    coa.account_type,
    coa.account_code,
    coa.account_name,
    sum(jel.debit_amount) AS total_debit,
    sum(jel.credit_amount) AS total_credit,
        CASE
            WHEN ((coa.account_type)::text = 'Revenue'::text) THEN sum((jel.credit_amount - jel.debit_amount))
            WHEN ((coa.account_type)::text = 'Expense'::text) THEN sum((jel.debit_amount - jel.credit_amount))
            ELSE (0)::numeric
        END AS net_amount
   FROM ((public.journal_entries je
     JOIN public.journal_entry_lines jel ON ((je.entry_id = jel.entry_id)))
     JOIN public.chart_of_accounts coa ON ((jel.account_id = coa.account_id)))
  WHERE (((je.status)::text = 'posted'::text) AND ((coa.account_type)::text = ANY ((ARRAY['Revenue'::character varying, 'Expense'::character varying])::text[])))
  GROUP BY je.tenant_id, (EXTRACT(year FROM je.entry_date)), (EXTRACT(month FROM je.entry_date)), coa.account_type, coa.account_code, coa.account_name;


ALTER TABLE public.income_statement OWNER TO airp_admin;

--
-- Name: tenants; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.tenants (
    tenant_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_code character varying(20) NOT NULL,
    legal_name character varying(255) NOT NULL,
    base_currency character(3) DEFAULT 'AED'::bpchar NOT NULL,
    timezone character varying(50) DEFAULT 'Asia/Dubai'::character varying NOT NULL,
    accounting_standard character varying(10) DEFAULT 'IFRS'::character varying NOT NULL,
    fiscal_year_end date NOT NULL,
    vat_registered boolean DEFAULT true,
    vat_rate numeric(5,4) DEFAULT 0.0500,
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.tenants OWNER TO airp_admin;

--
-- Name: trial_balance; Type: MATERIALIZED VIEW; Schema: public; Owner: airp_admin
--

CREATE MATERIALIZED VIEW public.trial_balance AS
 SELECT coa.tenant_id,
    coa.account_code,
    coa.account_name,
    coa.account_type,
    COALESCE(sum(gb.debit_amount), (0)::numeric) AS debit_balance,
    COALESCE(sum(gb.credit_amount), (0)::numeric) AS credit_balance,
    COALESCE(sum(gb.balance), (0)::numeric) AS net_balance,
    max(gb.fiscal_year) AS fiscal_year,
    max(gb.fiscal_period) AS fiscal_period,
    max(
        CASE
            WHEN (gb.fiscal_year IS NOT NULL) THEN (((concat(gb.fiscal_year, '-', lpad((gb.fiscal_period)::text, 2, '0'::text), '-01'))::date + '1 mon'::interval) - '1 day'::interval)
            ELSE NULL::timestamp without time zone
        END) AS period_end_date
   FROM (public.chart_of_accounts coa
     LEFT JOIN public.gl_balances gb ON ((coa.account_id = gb.account_id)))
  WHERE ((coa.status)::text = 'active'::text)
  GROUP BY coa.tenant_id, coa.account_code, coa.account_name, coa.account_type
  ORDER BY coa.account_code
  WITH NO DATA;


ALTER TABLE public.trial_balance OWNER TO airp_admin;

--
-- Name: variance_analysis; Type: MATERIALIZED VIEW; Schema: public; Owner: airp_admin
--

CREATE MATERIALIZED VIEW public.variance_analysis AS
 SELECT b.tenant_id,
    b.budget_id,
    bl.account_id,
    bl.fiscal_period,
    bl.budgeted_amount,
    COALESCE(sum((jel.debit_amount - jel.credit_amount)), (0)::numeric) AS actual_amount,
    (bl.budgeted_amount - COALESCE(sum((jel.debit_amount - jel.credit_amount)), (0)::numeric)) AS variance_amount,
        CASE
            WHEN (bl.budgeted_amount <> (0)::numeric) THEN (((bl.budgeted_amount - COALESCE(sum((jel.debit_amount - jel.credit_amount)), (0)::numeric)) / bl.budgeted_amount) * (100)::numeric)
            ELSE (0)::numeric
        END AS variance_percent
   FROM (((public.budget_lines bl
     JOIN public.budgets b ON ((bl.budget_id = b.budget_id)))
     LEFT JOIN public.journal_entry_lines jel ON (((bl.account_id = jel.account_id) AND (jel.tenant_id = bl.tenant_id))))
     LEFT JOIN public.journal_entries je ON (((jel.entry_id = je.entry_id) AND (EXTRACT(month FROM je.entry_date) = (bl.fiscal_period)::numeric))))
  GROUP BY b.tenant_id, b.budget_id, bl.account_id, bl.fiscal_period, bl.budgeted_amount
  WITH NO DATA;


ALTER TABLE public.variance_analysis OWNER TO airp_admin;

--
-- Name: vendors; Type: TABLE; Schema: public; Owner: airp_admin
--

CREATE TABLE public.vendors (
    vendor_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    vendor_code character varying(50) NOT NULL,
    vendor_name character varying(255) NOT NULL,
    tax_id character varying(50),
    contact_email character varying(255),
    contact_phone character varying(50),
    payment_terms integer DEFAULT 30,
    default_currency character(3) DEFAULT 'AED'::bpchar,
    bank_account_name character varying(255),
    bank_account_number character varying(50),
    bank_name character varying(255),
    bank_swift character varying(20),
    iban character varying(50),
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.vendors OWNER TO airp_admin;

--
-- Name: event_store_default; Type: TABLE ATTACH; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.event_store ATTACH PARTITION public.event_store_default DEFAULT;


--
-- Name: event_store sequence_number; Type: DEFAULT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.event_store ALTER COLUMN sequence_number SET DEFAULT nextval('public.event_store_sequence_number_seq'::regclass);


--
-- Data for Name: ai_training_feedback; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.ai_training_feedback (feedback_id, tenant_id, model_name, model_version, input_data, predicted_output, actual_output, is_correct, confidence_score, user_id, feedback_date, metadata) FROM stdin;
\.


--
-- Data for Name: anomaly_detections; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.anomaly_detections (anomaly_id, tenant_id, entity_type, entity_id, anomaly_type, anomaly_score, description, status, detected_at, resolved_at, resolved_by, metadata) FROM stdin;
\.


--
-- Data for Name: ap_aging; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.ap_aging (aging_id, tenant_id, vendor_id, invoice_id, currency, total_outstanding, current_amount, bucket_30, bucket_60, bucket_90, bucket_120_plus, as_of_date, last_updated) FROM stdin;
00bbb066-b242-4d2b-b3e1-178e92f9ce76	00000000-0000-0000-0000-000000000001	cc1e22ff-ab11-431d-8ad0-d57528ea639d	0c99d848-0389-4d27-9b84-13d7f7701859	AED	1050.0000	1050.0000	0.0000	0.0000	0.0000	0.0000	2025-10-20	2025-10-20 12:24:22.359775+04
\.


--
-- Data for Name: ap_invoice_lines; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.ap_invoice_lines (line_id, invoice_id, tenant_id, line_number, description, quantity, unit_price, line_amount, tax_rate, tax_amount, gl_account_id, ai_suggested_account_id, ai_confidence_score, dimension_1, dimension_2, created_at, metadata) FROM stdin;
\.


--
-- Data for Name: ap_invoices; Type: TABLE DATA; Schema: public; Owner: airp_admin
--



--
-- Data for Name: approval_steps; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.approval_steps (step_id, workflow_id, step_number, approver_id, status, decision_date, comments, metadata) FROM stdin;
\.


--
-- Data for Name: approval_workflows; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.approval_workflows (workflow_id, tenant_id, entity_type, entity_id, current_step, total_steps, status, initiated_by, initiated_at, completed_at, metadata) FROM stdin;
\.


--
-- Data for Name: ar_aging; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.ar_aging (aging_id, tenant_id, customer_id, invoice_id, currency, total_outstanding, current_amount, bucket_30, bucket_60, bucket_90, bucket_120_plus, as_of_date, last_updated) FROM stdin;
\.


--
-- Data for Name: ar_invoice_lines; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.ar_invoice_lines (line_id, invoice_id, tenant_id, line_number, description, quantity, unit_price, line_amount, tax_rate, tax_amount, gl_account_id, dimension_1, dimension_2, created_at, metadata) FROM stdin;
\.


--
-- Data for Name: ar_invoices; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.ar_invoices (invoice_id, tenant_id, customer_id, invoice_number, invoice_date, due_date, currency, subtotal, tax_amount, total_amount, amount_paid, amount_outstanding, status, payment_status, sent_at, paid_at, created_at, updated_at, metadata) FROM stdin;
8a28e45f-6676-45f5-8a9b-31994ade0532	00000000-0000-0000-0000-000000000001	593adf90-91f1-4da8-a5b6-0912416351e4	TEST-AR-001	2025-10-20	2025-11-20	AED	2000.0000	100.0000	2100.0000	0.0000	2100.0000	approved	unpaid	\N	\N	2025-10-20 12:25:03.351854+04	2025-10-20 12:25:03.351854+04	{"test": "TEST-030"}
\.


--
-- Data for Name: bank_accounts; Type: TABLE DATA; Schema: public; Owner: airp_admin
--



--
-- Data for Name: bank_transactions; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.bank_transactions (transaction_id, tenant_id, bank_account_id, transaction_date, value_date, description, reference, debit_amount, credit_amount, balance, currency, reconciliation_status, matched_journal_entry_id, ai_match_confidence, ai_suggested_matches, reconciled_by, reconciled_at, created_at, metadata) FROM stdin;
\.


--
-- Data for Name: budget_lines; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.budget_lines (budget_line_id, budget_id, tenant_id, account_id, fiscal_period, budgeted_amount, dimension_1, dimension_2, dimension_3, notes, created_at, metadata) FROM stdin;
\.


--
-- Data for Name: budgets; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.budgets (budget_id, tenant_id, budget_name, budget_type, fiscal_year, start_date, end_date, currency, status, version, approved_by, approved_at, created_at, updated_at, metadata) FROM stdin;
\.


--
-- Data for Name: cash_flow_forecast; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.cash_flow_forecast (forecast_id, tenant_id, forecast_date, forecast_type, currency, opening_balance, forecasted_inflows, forecasted_outflows, forecasted_closing_balance, actual_closing_balance, variance, confidence_interval_low, confidence_interval_high, ml_model_version, generated_at, as_of_date, metadata) FROM stdin;
\.


--
-- Data for Name: chart_of_accounts; Type: TABLE DATA; Schema: public; Owner: airp_admin
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: airp_admin
--



--
-- Data for Name: event_store_default; Type: TABLE DATA; Schema: public; Owner: airp_admin
--



--
-- Data for Name: gl_balances; Type: TABLE DATA; Schema: public; Owner: airp_admin
--



--
-- Data for Name: journal_entries; Type: TABLE DATA; Schema: public; Owner: airp_admin
--



--
-- Data for Name: journal_entry_lines; Type: TABLE DATA; Schema: public; Owner: airp_admin
--



--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: airp_admin
--

COPY public.tenants (tenant_id, tenant_code, legal_name, base_currency, timezone, accounting_standard, fiscal_year_end, vat_registered, vat_rate, status, created_at, updated_at, metadata) FROM stdin;
00000000-0000-0000-0000-000000000001	ACME001	ACME Corporation	AED	Asia/Dubai	IFRS	2025-12-31	t	0.0500	active	2025-10-18 22:39:59.046051+04	2025-10-18 22:39:59.046051+04	\N
\.


--
-- Data for Name: vendors; Type: TABLE DATA; Schema: public; Owner: airp_admin
--



--
-- Name: event_store_sequence_number_seq; Type: SEQUENCE SET; Schema: public; Owner: airp_admin
--

SELECT pg_catalog.setval('public.event_store_sequence_number_seq', 266, true);


--
-- Name: ai_training_feedback ai_training_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ai_training_feedback
    ADD CONSTRAINT ai_training_feedback_pkey PRIMARY KEY (feedback_id);


--
-- Name: anomaly_detections anomaly_detections_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.anomaly_detections
    ADD CONSTRAINT anomaly_detections_pkey PRIMARY KEY (anomaly_id);


--
-- Name: ap_aging ap_aging_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_aging
    ADD CONSTRAINT ap_aging_pkey PRIMARY KEY (aging_id);


--
-- Name: ap_aging ap_aging_tenant_id_invoice_id_as_of_date_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_aging
    ADD CONSTRAINT ap_aging_tenant_id_invoice_id_as_of_date_key UNIQUE (tenant_id, invoice_id, as_of_date);


--
-- Name: ap_invoice_lines ap_invoice_lines_invoice_id_line_number_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_invoice_lines
    ADD CONSTRAINT ap_invoice_lines_invoice_id_line_number_key UNIQUE (invoice_id, line_number);


--
-- Name: ap_invoice_lines ap_invoice_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_invoice_lines
    ADD CONSTRAINT ap_invoice_lines_pkey PRIMARY KEY (line_id);


--
-- Name: ap_invoices ap_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_invoices
    ADD CONSTRAINT ap_invoices_pkey PRIMARY KEY (invoice_id);


--
-- Name: ap_invoices ap_invoices_tenant_id_vendor_id_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_invoices
    ADD CONSTRAINT ap_invoices_tenant_id_vendor_id_invoice_number_key UNIQUE (tenant_id, vendor_id, invoice_number);


--
-- Name: approval_steps approval_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.approval_steps
    ADD CONSTRAINT approval_steps_pkey PRIMARY KEY (step_id);


--
-- Name: approval_steps approval_steps_workflow_id_step_number_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.approval_steps
    ADD CONSTRAINT approval_steps_workflow_id_step_number_key UNIQUE (workflow_id, step_number);


--
-- Name: approval_workflows approval_workflows_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.approval_workflows
    ADD CONSTRAINT approval_workflows_pkey PRIMARY KEY (workflow_id);


--
-- Name: ar_aging ar_aging_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_aging
    ADD CONSTRAINT ar_aging_pkey PRIMARY KEY (aging_id);


--
-- Name: ar_aging ar_aging_tenant_id_invoice_id_as_of_date_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_aging
    ADD CONSTRAINT ar_aging_tenant_id_invoice_id_as_of_date_key UNIQUE (tenant_id, invoice_id, as_of_date);


--
-- Name: ar_invoice_lines ar_invoice_lines_invoice_id_line_number_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_invoice_lines
    ADD CONSTRAINT ar_invoice_lines_invoice_id_line_number_key UNIQUE (invoice_id, line_number);


--
-- Name: ar_invoice_lines ar_invoice_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_invoice_lines
    ADD CONSTRAINT ar_invoice_lines_pkey PRIMARY KEY (line_id);


--
-- Name: ar_invoices ar_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_invoices
    ADD CONSTRAINT ar_invoices_pkey PRIMARY KEY (invoice_id);


--
-- Name: ar_invoices ar_invoices_tenant_id_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_invoices
    ADD CONSTRAINT ar_invoices_tenant_id_invoice_number_key UNIQUE (tenant_id, invoice_number);


--
-- Name: bank_accounts bank_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.bank_accounts
    ADD CONSTRAINT bank_accounts_pkey PRIMARY KEY (bank_account_id);


--
-- Name: bank_accounts bank_accounts_tenant_id_account_code_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.bank_accounts
    ADD CONSTRAINT bank_accounts_tenant_id_account_code_key UNIQUE (tenant_id, account_code);


--
-- Name: bank_transactions bank_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.bank_transactions
    ADD CONSTRAINT bank_transactions_pkey PRIMARY KEY (transaction_id);


--
-- Name: budget_lines budget_lines_budget_id_account_id_fiscal_period_dimension_1_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.budget_lines
    ADD CONSTRAINT budget_lines_budget_id_account_id_fiscal_period_dimension_1_key UNIQUE (budget_id, account_id, fiscal_period, dimension_1, dimension_2, dimension_3);


--
-- Name: budget_lines budget_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.budget_lines
    ADD CONSTRAINT budget_lines_pkey PRIMARY KEY (budget_line_id);


--
-- Name: budgets budgets_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.budgets
    ADD CONSTRAINT budgets_pkey PRIMARY KEY (budget_id);


--
-- Name: budgets budgets_tenant_id_budget_name_fiscal_year_version_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.budgets
    ADD CONSTRAINT budgets_tenant_id_budget_name_fiscal_year_version_key UNIQUE (tenant_id, budget_name, fiscal_year, version);


--
-- Name: cash_flow_forecast cash_flow_forecast_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.cash_flow_forecast
    ADD CONSTRAINT cash_flow_forecast_pkey PRIMARY KEY (forecast_id);


--
-- Name: cash_flow_forecast cash_flow_forecast_tenant_id_forecast_date_forecast_type_as_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.cash_flow_forecast
    ADD CONSTRAINT cash_flow_forecast_tenant_id_forecast_date_forecast_type_as_key UNIQUE (tenant_id, forecast_date, forecast_type, as_of_date);


--
-- Name: chart_of_accounts chart_of_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.chart_of_accounts
    ADD CONSTRAINT chart_of_accounts_pkey PRIMARY KEY (account_id);


--
-- Name: chart_of_accounts chart_of_accounts_tenant_id_account_code_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.chart_of_accounts
    ADD CONSTRAINT chart_of_accounts_tenant_id_account_code_key UNIQUE (tenant_id, account_code);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (customer_id);


--
-- Name: customers customers_tenant_id_customer_code_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_tenant_id_customer_code_key UNIQUE (tenant_id, customer_code);


--
-- Name: event_store event_store_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.event_store
    ADD CONSTRAINT event_store_pkey PRIMARY KEY (event_id, "timestamp");


--
-- Name: event_store_default event_store_default_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.event_store_default
    ADD CONSTRAINT event_store_default_pkey PRIMARY KEY (event_id, "timestamp");


--
-- Name: gl_balances gl_balances_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.gl_balances
    ADD CONSTRAINT gl_balances_pkey PRIMARY KEY (balance_id);


--
-- Name: gl_balances gl_balances_tenant_id_account_id_fiscal_year_fiscal_period__key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.gl_balances
    ADD CONSTRAINT gl_balances_tenant_id_account_id_fiscal_year_fiscal_period__key UNIQUE (tenant_id, account_id, fiscal_year, fiscal_period, currency);


--
-- Name: journal_entries journal_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.journal_entries
    ADD CONSTRAINT journal_entries_pkey PRIMARY KEY (entry_id);


--
-- Name: journal_entries journal_entries_tenant_id_entry_number_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.journal_entries
    ADD CONSTRAINT journal_entries_tenant_id_entry_number_key UNIQUE (tenant_id, entry_number);


--
-- Name: journal_entry_lines journal_entry_lines_entry_id_line_number_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.journal_entry_lines
    ADD CONSTRAINT journal_entry_lines_entry_id_line_number_key UNIQUE (entry_id, line_number);


--
-- Name: journal_entry_lines journal_entry_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.journal_entry_lines
    ADD CONSTRAINT journal_entry_lines_pkey PRIMARY KEY (line_id);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (tenant_id);


--
-- Name: tenants tenants_tenant_code_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_code_key UNIQUE (tenant_code);


--
-- Name: vendors vendors_pkey; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.vendors
    ADD CONSTRAINT vendors_pkey PRIMARY KEY (vendor_id);


--
-- Name: vendors vendors_tenant_id_vendor_code_key; Type: CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.vendors
    ADD CONSTRAINT vendors_tenant_id_vendor_code_key UNIQUE (tenant_id, vendor_code);


--
-- Name: idx_event_aggregate; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_event_aggregate ON ONLY public.event_store USING btree (aggregate_id);


--
-- Name: event_store_default_aggregate_id_idx; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX event_store_default_aggregate_id_idx ON public.event_store_default USING btree (aggregate_id);


--
-- Name: idx_event_type; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_event_type ON ONLY public.event_store USING btree (event_type);


--
-- Name: event_store_default_event_type_idx; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX event_store_default_event_type_idx ON public.event_store_default USING btree (event_type);


--
-- Name: idx_event_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_event_tenant ON ONLY public.event_store USING btree (tenant_id);


--
-- Name: event_store_default_tenant_id_idx; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX event_store_default_tenant_id_idx ON public.event_store_default USING btree (tenant_id);


--
-- Name: idx_ai_feedback_model; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ai_feedback_model ON public.ai_training_feedback USING btree (model_name, model_version);


--
-- Name: idx_ai_feedback_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ai_feedback_tenant ON public.ai_training_feedback USING btree (tenant_id);


--
-- Name: idx_anomaly_entity; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_anomaly_entity ON public.anomaly_detections USING btree (entity_type, entity_id);


--
-- Name: idx_anomaly_score; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_anomaly_score ON public.anomaly_detections USING btree (anomaly_score DESC);


--
-- Name: idx_anomaly_status; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_anomaly_status ON public.anomaly_detections USING btree (status);


--
-- Name: idx_anomaly_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_anomaly_tenant ON public.anomaly_detections USING btree (tenant_id);


--
-- Name: idx_ap_aging_date; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ap_aging_date ON public.ap_aging USING btree (as_of_date);


--
-- Name: idx_ap_aging_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ap_aging_tenant ON public.ap_aging USING btree (tenant_id);


--
-- Name: idx_ap_aging_vendor; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ap_aging_vendor ON public.ap_aging USING btree (vendor_id);


--
-- Name: idx_ap_invoices_date; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ap_invoices_date ON public.ap_invoices USING btree (invoice_date);


--
-- Name: idx_ap_invoices_due; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ap_invoices_due ON public.ap_invoices USING btree (due_date);


--
-- Name: idx_ap_invoices_status; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ap_invoices_status ON public.ap_invoices USING btree (status, payment_status);


--
-- Name: idx_ap_invoices_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ap_invoices_tenant ON public.ap_invoices USING btree (tenant_id);


--
-- Name: idx_ap_invoices_vendor; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ap_invoices_vendor ON public.ap_invoices USING btree (vendor_id);


--
-- Name: idx_ap_lines_account; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ap_lines_account ON public.ap_invoice_lines USING btree (gl_account_id);


--
-- Name: idx_ap_lines_invoice; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ap_lines_invoice ON public.ap_invoice_lines USING btree (invoice_id);


--
-- Name: idx_approval_entity; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_approval_entity ON public.approval_workflows USING btree (entity_type, entity_id);


--
-- Name: idx_approval_status; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_approval_status ON public.approval_workflows USING btree (status);


--
-- Name: idx_approval_steps_approver; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_approval_steps_approver ON public.approval_steps USING btree (approver_id);


--
-- Name: idx_approval_steps_workflow; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_approval_steps_workflow ON public.approval_steps USING btree (workflow_id);


--
-- Name: idx_approval_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_approval_tenant ON public.approval_workflows USING btree (tenant_id);


--
-- Name: idx_ar_aging_customer; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ar_aging_customer ON public.ar_aging USING btree (customer_id);


--
-- Name: idx_ar_aging_date; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ar_aging_date ON public.ar_aging USING btree (as_of_date);


--
-- Name: idx_ar_aging_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ar_aging_tenant ON public.ar_aging USING btree (tenant_id);


--
-- Name: idx_ar_invoices_customer; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ar_invoices_customer ON public.ar_invoices USING btree (customer_id);


--
-- Name: idx_ar_invoices_date; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ar_invoices_date ON public.ar_invoices USING btree (invoice_date);


--
-- Name: idx_ar_invoices_due; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ar_invoices_due ON public.ar_invoices USING btree (due_date);


--
-- Name: idx_ar_invoices_status; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ar_invoices_status ON public.ar_invoices USING btree (status, payment_status);


--
-- Name: idx_ar_invoices_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ar_invoices_tenant ON public.ar_invoices USING btree (tenant_id);


--
-- Name: idx_ar_lines_account; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ar_lines_account ON public.ar_invoice_lines USING btree (gl_account_id);


--
-- Name: idx_ar_lines_invoice; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_ar_lines_invoice ON public.ar_invoice_lines USING btree (invoice_id);


--
-- Name: idx_bank_accounts_gl; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_bank_accounts_gl ON public.bank_accounts USING btree (gl_account_id);


--
-- Name: idx_bank_accounts_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_bank_accounts_tenant ON public.bank_accounts USING btree (tenant_id);


--
-- Name: idx_bank_trans_account; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_bank_trans_account ON public.bank_transactions USING btree (bank_account_id);


--
-- Name: idx_bank_trans_date; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_bank_trans_date ON public.bank_transactions USING btree (transaction_date);


--
-- Name: idx_bank_trans_status; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_bank_trans_status ON public.bank_transactions USING btree (reconciliation_status);


--
-- Name: idx_budget_lines_account; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_budget_lines_account ON public.budget_lines USING btree (account_id);


--
-- Name: idx_budget_lines_budget; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_budget_lines_budget ON public.budget_lines USING btree (budget_id);


--
-- Name: idx_budgets_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_budgets_tenant ON public.budgets USING btree (tenant_id);


--
-- Name: idx_budgets_year; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_budgets_year ON public.budgets USING btree (fiscal_year);


--
-- Name: idx_cash_forecast_date; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_cash_forecast_date ON public.cash_flow_forecast USING btree (forecast_date);


--
-- Name: idx_cash_forecast_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_cash_forecast_tenant ON public.cash_flow_forecast USING btree (tenant_id);


--
-- Name: idx_coa_code; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_coa_code ON public.chart_of_accounts USING btree (account_code);


--
-- Name: idx_coa_parent; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_coa_parent ON public.chart_of_accounts USING btree (parent_account_id);


--
-- Name: idx_coa_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_coa_tenant ON public.chart_of_accounts USING btree (tenant_id);


--
-- Name: idx_coa_type; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_coa_type ON public.chart_of_accounts USING btree (account_type);


--
-- Name: idx_customers_name; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_customers_name ON public.customers USING gin (customer_name public.gin_trgm_ops);


--
-- Name: idx_customers_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_customers_tenant ON public.customers USING btree (tenant_id);


--
-- Name: idx_gl_balances_account; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_gl_balances_account ON public.gl_balances USING btree (account_id);


--
-- Name: idx_gl_balances_period; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_gl_balances_period ON public.gl_balances USING btree (fiscal_year, fiscal_period);


--
-- Name: idx_gl_balances_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_gl_balances_tenant ON public.gl_balances USING btree (tenant_id);


--
-- Name: idx_je_date; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_je_date ON public.journal_entries USING btree (entry_date);


--
-- Name: idx_je_source; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_je_source ON public.journal_entries USING btree (source_type, source_ref_id);


--
-- Name: idx_je_status; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_je_status ON public.journal_entries USING btree (status);


--
-- Name: idx_je_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_je_tenant ON public.journal_entries USING btree (tenant_id);


--
-- Name: idx_jel_account; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_jel_account ON public.journal_entry_lines USING btree (account_id);


--
-- Name: idx_jel_dimensions; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_jel_dimensions ON public.journal_entry_lines USING btree (dimension_1, dimension_2, dimension_3);


--
-- Name: idx_jel_entry; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_jel_entry ON public.journal_entry_lines USING btree (entry_id);


--
-- Name: idx_tenants_code; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_tenants_code ON public.tenants USING btree (tenant_code);


--
-- Name: idx_tenants_status; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_tenants_status ON public.tenants USING btree (status);


--
-- Name: idx_variance_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_variance_tenant ON public.variance_analysis USING btree (tenant_id);


--
-- Name: idx_vendors_name; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_vendors_name ON public.vendors USING gin (vendor_name public.gin_trgm_ops);


--
-- Name: idx_vendors_tenant; Type: INDEX; Schema: public; Owner: airp_admin
--

CREATE INDEX idx_vendors_tenant ON public.vendors USING btree (tenant_id);


--
-- Name: event_store_default_aggregate_id_idx; Type: INDEX ATTACH; Schema: public; Owner: airp_admin
--

ALTER INDEX public.idx_event_aggregate ATTACH PARTITION public.event_store_default_aggregate_id_idx;


--
-- Name: event_store_default_event_type_idx; Type: INDEX ATTACH; Schema: public; Owner: airp_admin
--

ALTER INDEX public.idx_event_type ATTACH PARTITION public.event_store_default_event_type_idx;


--
-- Name: event_store_default_pkey; Type: INDEX ATTACH; Schema: public; Owner: airp_admin
--

ALTER INDEX public.event_store_pkey ATTACH PARTITION public.event_store_default_pkey;


--
-- Name: event_store_default_tenant_id_idx; Type: INDEX ATTACH; Schema: public; Owner: airp_admin
--

ALTER INDEX public.idx_event_tenant ATTACH PARTITION public.event_store_default_tenant_id_idx;


--
-- Name: chart_of_accounts update_coa_updated_at; Type: TRIGGER; Schema: public; Owner: airp_admin
--

CREATE TRIGGER update_coa_updated_at BEFORE UPDATE ON public.chart_of_accounts FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: customers update_customers_updated_at; Type: TRIGGER; Schema: public; Owner: airp_admin
--

CREATE TRIGGER update_customers_updated_at BEFORE UPDATE ON public.customers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: tenants update_tenants_updated_at; Type: TRIGGER; Schema: public; Owner: airp_admin
--

CREATE TRIGGER update_tenants_updated_at BEFORE UPDATE ON public.tenants FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: vendors update_vendors_updated_at; Type: TRIGGER; Schema: public; Owner: airp_admin
--

CREATE TRIGGER update_vendors_updated_at BEFORE UPDATE ON public.vendors FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: ai_training_feedback ai_training_feedback_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ai_training_feedback
    ADD CONSTRAINT ai_training_feedback_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: anomaly_detections anomaly_detections_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.anomaly_detections
    ADD CONSTRAINT anomaly_detections_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: ap_aging ap_aging_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_aging
    ADD CONSTRAINT ap_aging_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.ap_invoices(invoice_id);


--
-- Name: ap_aging ap_aging_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_aging
    ADD CONSTRAINT ap_aging_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: ap_aging ap_aging_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_aging
    ADD CONSTRAINT ap_aging_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(vendor_id);


--
-- Name: ap_invoice_lines ap_invoice_lines_ai_suggested_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_invoice_lines
    ADD CONSTRAINT ap_invoice_lines_ai_suggested_account_id_fkey FOREIGN KEY (ai_suggested_account_id) REFERENCES public.chart_of_accounts(account_id);


--
-- Name: ap_invoice_lines ap_invoice_lines_gl_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_invoice_lines
    ADD CONSTRAINT ap_invoice_lines_gl_account_id_fkey FOREIGN KEY (gl_account_id) REFERENCES public.chart_of_accounts(account_id);


--
-- Name: ap_invoice_lines ap_invoice_lines_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_invoice_lines
    ADD CONSTRAINT ap_invoice_lines_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.ap_invoices(invoice_id) ON DELETE CASCADE;


--
-- Name: ap_invoice_lines ap_invoice_lines_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_invoice_lines
    ADD CONSTRAINT ap_invoice_lines_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: ap_invoices ap_invoices_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_invoices
    ADD CONSTRAINT ap_invoices_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: ap_invoices ap_invoices_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ap_invoices
    ADD CONSTRAINT ap_invoices_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(vendor_id);


--
-- Name: approval_steps approval_steps_workflow_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.approval_steps
    ADD CONSTRAINT approval_steps_workflow_id_fkey FOREIGN KEY (workflow_id) REFERENCES public.approval_workflows(workflow_id) ON DELETE CASCADE;


--
-- Name: approval_workflows approval_workflows_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.approval_workflows
    ADD CONSTRAINT approval_workflows_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: ar_aging ar_aging_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_aging
    ADD CONSTRAINT ar_aging_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id);


--
-- Name: ar_aging ar_aging_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_aging
    ADD CONSTRAINT ar_aging_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.ar_invoices(invoice_id);


--
-- Name: ar_aging ar_aging_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_aging
    ADD CONSTRAINT ar_aging_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: ar_invoice_lines ar_invoice_lines_gl_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_invoice_lines
    ADD CONSTRAINT ar_invoice_lines_gl_account_id_fkey FOREIGN KEY (gl_account_id) REFERENCES public.chart_of_accounts(account_id);


--
-- Name: ar_invoice_lines ar_invoice_lines_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_invoice_lines
    ADD CONSTRAINT ar_invoice_lines_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.ar_invoices(invoice_id) ON DELETE CASCADE;


--
-- Name: ar_invoice_lines ar_invoice_lines_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_invoice_lines
    ADD CONSTRAINT ar_invoice_lines_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: ar_invoices ar_invoices_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_invoices
    ADD CONSTRAINT ar_invoices_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id);


--
-- Name: ar_invoices ar_invoices_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.ar_invoices
    ADD CONSTRAINT ar_invoices_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: bank_accounts bank_accounts_gl_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.bank_accounts
    ADD CONSTRAINT bank_accounts_gl_account_id_fkey FOREIGN KEY (gl_account_id) REFERENCES public.chart_of_accounts(account_id);


--
-- Name: bank_accounts bank_accounts_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.bank_accounts
    ADD CONSTRAINT bank_accounts_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: bank_transactions bank_transactions_bank_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.bank_transactions
    ADD CONSTRAINT bank_transactions_bank_account_id_fkey FOREIGN KEY (bank_account_id) REFERENCES public.bank_accounts(bank_account_id);


--
-- Name: bank_transactions bank_transactions_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.bank_transactions
    ADD CONSTRAINT bank_transactions_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: budget_lines budget_lines_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.budget_lines
    ADD CONSTRAINT budget_lines_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.chart_of_accounts(account_id);


--
-- Name: budget_lines budget_lines_budget_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.budget_lines
    ADD CONSTRAINT budget_lines_budget_id_fkey FOREIGN KEY (budget_id) REFERENCES public.budgets(budget_id) ON DELETE CASCADE;


--
-- Name: budget_lines budget_lines_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.budget_lines
    ADD CONSTRAINT budget_lines_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: budgets budgets_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.budgets
    ADD CONSTRAINT budgets_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: cash_flow_forecast cash_flow_forecast_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.cash_flow_forecast
    ADD CONSTRAINT cash_flow_forecast_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: chart_of_accounts chart_of_accounts_parent_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.chart_of_accounts
    ADD CONSTRAINT chart_of_accounts_parent_account_id_fkey FOREIGN KEY (parent_account_id) REFERENCES public.chart_of_accounts(account_id);


--
-- Name: chart_of_accounts chart_of_accounts_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.chart_of_accounts
    ADD CONSTRAINT chart_of_accounts_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: customers customers_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: gl_balances gl_balances_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.gl_balances
    ADD CONSTRAINT gl_balances_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.chart_of_accounts(account_id);


--
-- Name: gl_balances gl_balances_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.gl_balances
    ADD CONSTRAINT gl_balances_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: journal_entries journal_entries_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.journal_entries
    ADD CONSTRAINT journal_entries_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: journal_entry_lines journal_entry_lines_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.journal_entry_lines
    ADD CONSTRAINT journal_entry_lines_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.chart_of_accounts(account_id);


--
-- Name: journal_entry_lines journal_entry_lines_entry_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.journal_entry_lines
    ADD CONSTRAINT journal_entry_lines_entry_id_fkey FOREIGN KEY (entry_id) REFERENCES public.journal_entries(entry_id) ON DELETE CASCADE;


--
-- Name: journal_entry_lines journal_entry_lines_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.journal_entry_lines
    ADD CONSTRAINT journal_entry_lines_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: vendors vendors_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: airp_admin
--

ALTER TABLE ONLY public.vendors
    ADD CONSTRAINT vendors_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO airp_app;


--
-- Name: TABLE ai_training_feedback; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.ai_training_feedback TO airp_app;


--
-- Name: TABLE anomaly_detections; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.anomaly_detections TO airp_app;


--
-- Name: TABLE ap_aging; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.ap_aging TO airp_app;


--
-- Name: TABLE ap_invoice_lines; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.ap_invoice_lines TO airp_app;


--
-- Name: TABLE ap_invoices; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.ap_invoices TO airp_app;


--
-- Name: TABLE approval_steps; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.approval_steps TO airp_app;


--
-- Name: TABLE approval_workflows; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.approval_workflows TO airp_app;


--
-- Name: TABLE ar_aging; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.ar_aging TO airp_app;


--
-- Name: TABLE ar_invoice_lines; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.ar_invoice_lines TO airp_app;


--
-- Name: TABLE ar_invoices; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.ar_invoices TO airp_app;


--
-- Name: TABLE chart_of_accounts; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.chart_of_accounts TO airp_app;


--
-- Name: TABLE journal_entries; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.journal_entries TO airp_app;


--
-- Name: TABLE journal_entry_lines; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.journal_entry_lines TO airp_app;


--
-- Name: TABLE bank_accounts; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.bank_accounts TO airp_app;


--
-- Name: TABLE bank_transactions; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.bank_transactions TO airp_app;


--
-- Name: TABLE budget_lines; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.budget_lines TO airp_app;


--
-- Name: TABLE budgets; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.budgets TO airp_app;


--
-- Name: TABLE cash_flow_forecast; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.cash_flow_forecast TO airp_app;


--
-- Name: TABLE customers; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.customers TO airp_app;


--
-- Name: TABLE gl_balances; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.gl_balances TO airp_app;


--
-- Name: TABLE tenants; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.tenants TO airp_app;


--
-- Name: TABLE variance_analysis; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.variance_analysis TO airp_app;


--
-- Name: TABLE vendors; Type: ACL; Schema: public; Owner: airp_admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.vendors TO airp_app;


--
-- Name: trial_balance; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: airp_admin
--

REFRESH MATERIALIZED VIEW public.trial_balance;


--
-- Name: variance_analysis; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: airp_admin
--

REFRESH MATERIALIZED VIEW public.variance_analysis;


--
-- PostgreSQL database dump complete
--

\unrestrict TvlNWSNvEjtF3ThPAr5wxmPEok4r2jQHmcekbEh86EMNBa7YYmoSrI7b0qQD29g

